*.[oa]
*.fcgi
*~
Makefile
doc/html

# Files made by autogen.sh.
Makefile.in
libtool
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/lt*
/m4/libtool.m4
/missing
/src/.deps/
fcgi/libfcgi/.deps/
