*.[oa]
*.fcgi
*~
Makefile
doc/html

# Files made by autogen.sh.
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/
/missing

.idea/
CMakeLists.txt
/cmake-build-debug